In [108]:
import pandas as pd
import math

In [117]:
df = pd.read_csv('felony_data.csv')

In [135]:
coord = (991621.243, 218006.212)
radius = 200
x, y = coord
df[df['X_COORD_CD'].between(x - radius, x + radius, inclusive=False) & df['Y_COORD_CD'].between(y - radius, y + radius, inclusive=False)]

        CMPLNT_FR_DT LAW_CAT_CD  X_COORD_CD  Y_COORD_CD
74022     06/18/2018     FELONY    991789.0    217838.0
173659    09/26/2017     FELONY    991789.0    217838.0
221352    06/01/2017     FELONY    991789.0    217838.0
262421    02/10/2017     FELONY    991789.0    217838.0
328000    08/31/2016     FELONY    991789.0    217838.0
364171    06/08/2016     FELONY    991789.0    217838.0
364394    06/08/2016     FELONY    991553.0    217831.0
418418    01/22/2016     FELONY    991789.0    217838.0
450763    11/05/2015     FELONY    991789.0    217838.0
537420    04/20/2015     FELONY    991789.0    217838.0
644378    07/27/2014     FELONY    991553.0    217831.0
656314    07/01/2014     FELONY    991789.0    217838.0
747380    11/19/2013     FELONY    991789.0    217838.0
833047    05/09/2013     FELONY    991789.0    217838.0
889161    12/17/2012     FELONY    991789.0    217838.0
911160    10/24/2012     FELONY    991789.0    217838.0
930893    09/09/2012     FELONY    991789.0    217838.0
1088327   09/02/2011     FELONY    991789.0    217838.0
1089527   08/30/2011     FELONY    991789.0    217838.0
1116311   06/28/2011     FELONY    991789.0    217838.0
1355465   11/08/2009     FELONY    991789.0    217838.0
1427256   05/24/2009     FELONY    991789.0    217838.0
1505195   11/12/2008     FELONY    991789.0    217838.0
1507357   11/07/2008     FELONY    991789.0    217838.0
1525629   09/29/2008     FELONY    991789.0    217838.0
1567573   07/02/2008     FELONY    991789.0    217838.0
1637468   01/23/2008     FELONY    991789.0    217838.0
1706369   08/30/2007     FELONY    991789.0    217838.0
1777916   03/28/2007     FELONY    991789.0    217838.0
1797043   02/09/2007     FELONY    991789.0    217838.0
1886707   08/06/2006     FELONY    991789.0    217838.0
1942896   04/08/2006     FELONY    991789.0    217838.0